/target
# .env
/temp
/contracts/lib
/contracts/out
/contracts/cache
/contracts/.github
/contracts/.vscode
anvil.pid
# Ignores development broadcast logs
/contracts/broadcast
/contracts/broadcast/*/31337/
/contracts/broadcast/**/dry-run/
contracts/broadcast/*
contracts/lib/*
contracts/out/*
# Ignores scripts
/scripts/node_modules
/scripts/package-lock.json
/scripts/package.json
# /scripts/.env